<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBS News</title>
</head>

<body>

    {% for news in data %}
    <h3>{{ news.title }}</h3>
    <h3>{{ news.description }}</h3>

    <a href="news.link" target="_blank">{{ news.title }} </a> 
    <a href="news.image" target="_blank">Tap here for the image </a>
    {% endfor %}
    
</body>

</html>
